@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Oswald&display=fallback');

:root {
    --photo_bg: url('./assets/img/bg-photo.jpg');
    --code_bg: url('./assets/img/bg-code.jpg');
    --me_background: url('./assets/img/me.jpg');
    --text_link_color: #fff;
    --text_icon_color: #000;
    --pill-opacity: 80%;
    --studies_color: rgb(21 128 249 / var(--pill-opacity));
    --projects_color: rgb(255 0 64 / var(--pill-opacity));
    --examples_color: rgb(255 126 3 / var(--pill-opacity));
    --studies_color_hover: rgb(21 128 249);
    --projects_color_hover: rgb(255 0 64);
    --examples_color_hover: rgb(255 126 3);
}

body,
section,
main,
div,
span,
h1,
hr,
a {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;

}

a {
    text-decoration: none;
    color: unset;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

svg {
    width: 16px;
    height: 16px;
    fill: unset;
}


/*-----------------------------------------------------------------------------------------PICTURE ANS LINKS---------------------------------*/
header>div {
    width: 180px;
    transform: translate(-50%);
    margin-top: 20px;
    height: 180px;
    position: fixed;
    left: 50%;
    top: 0;


}

/*-----------------------------------------------------------------------------------------PICTURE ---------------------------------*/
body header>div:first-of-type>div:first-child,
body header div:first-of-type>:first-child div {
    width: 130px;
    height: 130px;
    left: 50%;
    font-size: 0.35rem;
    transform: translate(-50%);
    transition: background-position-y 0.3s, opacity 0.3s;
}

body header>div:first-of-type>div:first-child {
    background-image: var(--me_background);
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
}

body header div:first-of-type>:first-child div {
    position: absolute;
    color: var(--text_link_color);
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

body header div:first-of-type>:first-child div h1 {
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px #000000;
}

/*-----------------------------------------------------------------------------------------LINKS ---------------------------------*/
header div:first-of-type>div:last-child {
    /* background-color: #b91a4780; */
    width: 180px;
    height: 92px;
    position: relative;
    left: 0px;
    bottom: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-end;
    z-index: -1;
}


header div:first-of-type>:last-child div {
    background-color: var(--text_link_color);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    align-self: center;
    margin-right: 2px;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    fill: var(--text_icon_color);
    overflow: hidden;
    transition: all 0.2s;
}

header div:first-of-type>:last-child :not(:first-child):not(:last-child) {
    align-self: flex-end;
}

/************************************************************************************************animation només en no tactils*/
@media (hover: hover) and (pointer: fine) {
    header div:first-of-type>:last-child div:hover {
        fill: var(--text_link_color);
        background-color: #000;
        -webkit-box-shadow: inset 0px 0px 0px 10px #000;
        -moz-box-shadow: inset 0px 0px 0px 10px #000;
        box-shadow: inset 0px 0px 0px 10px #000;
    }

    body header div:first-of-type>div:first-child:hover {
        background-position-y: -15px;
    }

    body header>div:first-of-type>div:first-child:hover div:first-child {
        opacity: 1;
    }
}

@media (hover: none) {
    header>div:first-of-type>div:first-child {
        background-position-y: -15px;
    }

    body header>div:first-of-type>div:first-child div {
        opacity: 1;
    }
}


/*-----------------------------------------------------------------------------------------PHOTO AND CODE GRID---------------------------------*/

main {
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        "photo code";
}

main section {
    display: grid;
    /* grid-template-columns: 6vw 20px repeat(2, 1fr) 0.5fr; */
    grid-template-columns: 10px 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0;
}


/*-----------------------------------------------------------------------------------------ALL ELEMENTS IN PHOTO AND CODE---------------------------------*/
main section div {
    width: 40%;
    min-width: 150px;
    height: 90%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--text_link_color);
    font-size: clamp(0.7rem, 1vw, 1rem);
    position: relative;
    z-index: 1;
    border-radius: 10px;
}
main>section>div>a{
    border-radius: 10px;

}
hr {
    display: none;
}

@media (hover: hover) and (pointer: fine) {
    main section div {
        transition: background-color 0.2s;
    }

    hr {
        display: block;
        position: absolute;
        left: 50%;
        opacity: 0;
        pointer-events: none;
        bottom: calc(50% - 4px);
        text-align: center;
        align-self: center;
        width: 60%;
        transform: translate(-50%, -50%);
        height: 2px;
        background-color: white;
        border: none;
        transition: width 0.2s, opacity 0.2s;
    }

    body>main>section>div:after {
        content: attr(content);
        position: absolute;
        bottom: 10%;
        left: 0;
        border-radius: 0 0 10px 10px;
        color: transparent;
        font-weight: 200;
        font-size: clamp(0.6rem, 0.9vw, 0.9rem);
        width: 100%;
        height: 0px;
        z-index: -1;
        cursor: default;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: bottom 0.1s, color 0.1s;
    }

    main>section>div>a {
        transition: all 0.2s;
    }

    main>section>div>a:hover {
        height: 70%;
        padding-bottom: 10%;
    }

    main section>:nth-child(n+1):nth-child(-n+2):hover {
        background-color: var(--studies_color_hover);
    }

    main section>:nth-child(3):hover,
    main section>:nth-child(8):hover {
        background-color: var(--projects_color_hover);
    }

    main section>:nth-child(n+4):nth-child(-n+7):hover,
    main section>:nth-child(9):hover {
        background-color: var(--examples_color_hover);
    }

    main>section>div:hover:after {
        bottom: 30%;
        color: #fff;

    }

    main>section>div:hover hr {
        opacity: 1;
        width: 40%;
    }

}

/*-----------------------------------------------------------------------------------------ALL items of photo and code---------------------------------*/
/*la variable bg-color m'ajuda amb la legibilitat*/
/* div:first-of-type>:last-child :not(:first-child):not(:last-child) {} */


main section>:nth-child(n+1):nth-child(-n+2) {
    background-color: var(--studies_color);
}

main section>:nth-child(3),
main section>:nth-child(8) {
    background-color: var(--projects_color);
}

main section>:nth-child(n+4):nth-child(-n+7),
main section>:nth-child(9) {
    background-color: var(--examples_color);
}

main section>:nth-child(1) {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: start;
}

main section>:nth-child(2) {
    grid-area: 3 / 2 / 4 / 3;
    justify-self: center;
}

main section>:nth-child(3) {
    grid-area: 4 / 2 / 5 / 3;
    justify-self: end;
    transform: translateX(-2.5%);
}

main section:nth-child(2)>:nth-child(3) {
    transform: translateX(2.5%);
}

main section>:nth-child(4) {
    grid-area: 6 / 2 / 7 / 3;
    justify-self: center;
}

main section>:nth-child(5) {
    grid-area: 7 / 2 / 8 / 3;
    justify-self: end;
    transform: translateX(-2.5%);
}

main section:nth-child(2)>:nth-child(5) {
    transform: translateX(2.5%);

}

main section>:nth-child(6) {
    grid-area: 8 / 2 / 9 / 3;
    justify-self: start;
}

main section>:nth-child(7) {
    grid-area: 10 / 2 / 11 / 3;
    justify-self: center;
    align-self: start;
}


/*--ALL ELEMENTS MIXED----------------------------*/

main section:nth-child(1)>:nth-child(8) {
    grid-area: 5 / 2 / 6 / 3;
    justify-self: end;
    transform: translateX(50%);

}

main section:nth-child(1)>:nth-child(9) {
    grid-area: 9 / 2 / 10 / 3;
    justify-self: end;
    transform: translateX(50%);

}

/*-----------------------------------------------------------------------------------------PHOTO----------------------------*/
main section {
    grid-area: photo;
    background: var(--photo_bg);
    background-size: cover;
    background-position: center;
    /* border-right: 1px solid #fff; */
}


/*-----------------------------------------------------------------------------------------CODE---------------------------------*/
main section:nth-child(2) {
    direction: rtl;
    grid-area: code;
    background: var(--code_bg);
    background-position: center;
    /* border-left: 1px solid #fff; */
}

main section:nth-child(2) div {
    direction: ltr;
}


/*-----------------------------------------------------------------------------------------BANDAS CODE & IMAGE---------------------------------*/
aside div {
    background-color:transparent;
    color: var(--text_link_color);


    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside div:last-child {
    right: 0;
    left: unset;
}

aside div span {
    transform: rotate(270deg);
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Oswald';
    font-size: 1rem;
}

/*-----------------------------------------------------------------------------------------CODE ELELMENTS*/
/* footer {
    width: 260px;
    height: 20px;
    background-color: var(--text_link_color);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer span:nth-child(odd) {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: aquamarine;

}

footer span:nth-child(even) {} */


/*------------------------------------------------------------------------------------------------------------- media query*/
/* @media only screen and (max-width: 1350px) {

    main section {
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 200px repeat(9, 1fr) 15px 20px;
    }

    main>section>div {
        margin: 5px;
    }

    main>section>:nth-child(1),
    main>section>:nth-child(2) {
        grid-column-start: 2;
        grid-row-start: 2;
        justify-self: start;
        align-self: center;
    }

    main>section>:nth-child(2) {
        grid-row-start: 3;
        justify-self: center;
    }

    main>section>:nth-child(3) {
        grid-row-start: 4;
        justify-self: end;
        align-self: center;
    }

    main>section>:nth-child(4),
    main>section>:nth-child(5) {
        grid-column-start: 2;
        grid-row-start: 6;
        justify-self: center;
        align-self: center;
    }

    main>section>:nth-child(5) {
        grid-row-start: 7;
        justify-self: start;
    }

    main>section:nth-child(1)>:nth-child(8) {
        grid-row-start: 5;
        align-self: center;
    }

    main>section>:nth-child(6) {
        justify-self: end;
        grid-row-start: 8;
        align-self: center;
    }

    main>section:nth-child(1)>:nth-child(9) {
        grid-row-start: 9;
        align-self: center;

    }


    main>section>:nth-child(7) {
        grid-column-start: 2;
        grid-row-start: 10;
        justify-self: center;
        align-self: center;
    }

    @media only screen and (max-width: 530px) {
        aside div {
            display: none;
        }

        main>section>div {
            width: 180px;
            font-size: 0.75rem;
        }

        main>section>div:after {
            font-size: 0.70rem;
        }
    }

} */