@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=fallback');

:root {
    --photo_bg: url('./assets/img/bg-photo.jpg');
    --code_bg: url('./assets/img/bg-code.jpg');
    --me_background: url('./assets/img/me.jpg');
    --text_link_color: #fff;
    --text_icon_color: #000;

    --studies_color-h: 202;
    --projects_color-h: 343;
    --examples_color-h: 17;
    --color-l: 49%;
    --color-s: 91%;
    --studies_color: hsl(var(--studies_color-h), var(--color-s), var(--color-l));
    --projects_color: hsl(var(--projects_color-h), var(--color-s), var(--color-l));
    --examples_color: hsl(var(--examples_color-h), var(--color-s), var(--color-l));
}

body,
section,
main,
div,
span,
h1,
hr,
a {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;

}

main {
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        "photo code";
}

a {
    text-decoration: none;
    color: unset;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

svg {
    width: 16px;
    height: 16px;
    fill: unset;
}


/*-----------------------------------------------------------------------------------------PICTURE ANS LINKS---------------------------------*/
header>div {
    width: 180px;
    transform: translate(-50%);
    margin-top: 20px;
    height: 180px;
    position: fixed;
    left: 50%;
    top: 0;


}

/*-----------------------------------------------------------------------------------------PICTURE ---------------------------------*/
body header>div:first-of-type>div:first-child,
body header div:first-of-type>:first-child div {
    width: 130px;
    height: 130px;
    left: 50%;
    font-size: 0.35rem;
    transform: translate(-50%);
    transition: background-position-y 0.3s, opacity 0.3s;
}

body header>div:first-of-type>div:first-child {
    background-image: var(--me_background);
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
}

body header div:first-of-type>:first-child div {
    position: absolute;
    color: var(--text_link_color);
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

body header div:first-of-type>:first-child div h1 {
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px #000000;
}

/*-----------------------------------------------------------------------------------------LINKS ---------------------------------*/
header div:first-of-type>div:last-child {
    /* background-color: #b91a4780; */
    width: 180px;
    height: 92px;
    position: relative;
    left: 0px;
    bottom: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-end;
    z-index: -1;
}


header div:first-of-type>:last-child div {
    background-color: var(--text_link_color);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    align-self: center;
    margin-right: 2px;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    fill: var(--text_icon_color);
    overflow: hidden;
    transition: all 0.2s;
}

header div:first-of-type>:last-child :not(:first-child):not(:last-child) {
    align-self: flex-end;
}

/************************************************************************************************animation només en no tactils*/
@media (hover: hover) and (pointer: fine) {
    header div:first-of-type>:last-child div:hover {
        fill: var(--text_link_color);
        background-color: #000;
        -webkit-box-shadow: inset 0px 0px 0px 10px #000;
        -moz-box-shadow: inset 0px 0px 0px 10px #000;
        box-shadow: inset 0px 0px 0px 10px #000;
    }
    body header div:first-of-type>div:first-child:hover {
        background-position-y: -15px;
    }
    body header>div:first-of-type>div:first-child:hover div:first-child {
        opacity: 1;
    }
}

@media (hover: none) {
    header>div:first-of-type>div:first-child {
        background-position-y: -15px;
    }

    body header>div:first-of-type>div:first-child div {
        opacity: 1;
    }
}


/*-----------------------------------------------------------------------------------------PHOTO AND CODE GRID---------------------------------*/
main section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr) 20px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/*-----------------------------------------------------------------------------------------ALL ELEMENTS IN PHOTO AND CODE---------------------------------*/
main section div {
    width: 220px;
    height: 30px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--text_link_color);
    position: relative;
    z-index: 1;

}

hr {
    position: absolute;
    left: 50%;
    bottom: -2px;
    text-align: center;
    align-self: center;
    width: 100%;
    transform: translate(-50%, -50%);
    height: 2px;
    background-color: white;
    border: none;
    transition: width 0.2s;
}

@media (hover: hover) and (pointer: fine) {

    body>main>section>div:after {
        content: attr(content);
        position: absolute;
        top: 30px;
        left: 0;
        border-radius: 0 0 10px 10px;
        color: transparent;
        font-weight: 200;
        font-size: 0.9rem;
        width: 100%;
        height: 0px;
        z-index: -1;
        cursor: default;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: height 0.1s, color 0.1s;
    }

    main>section>div:hover:after {
        height: 30px;
        color: #fff;

    }

    main>section>div:hover hr {
        width: 80%;
    }

    body>main>section>div:nth-child(-n+2):after {
        background-color: hsl(var(--studies_color-h), var(--color-s), calc(var(--color-l) * 1.3))
    }

    body>main>section>div:is(:nth-child(3), :nth-child(8)):after {
        background-color: hsl(var(--projects_color-h), var(--color-s), calc(var(--color-l) * 1.3))
    }

    body>main>section>div:nth-child(n+4):nth-child(-n+9):not(:nth-child(8)):after {
        background-color: hsl(var(--examples_color-h), var(--color-s), calc(var(--color-l) * 1.3))
    }
}

/*-----------------------------------------------------------------------------------------ALL items of photo and code---------------------------------*/
/*la variable bg-color m'ajuda amb la legibilitat*/
main section>:nth-child(1) {
    background-color: var(--studies_color);
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: end;
    align-self: start;

}

main section>:nth-child(2) {
    background-color: var(--studies_color);
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: start;
    align-self: end;
}

main section>:nth-child(3) {
    background-color: var(--projects_color);
    grid-column-start: 2;
    grid-row-start: 3;
    justify-self: start;
    align-self: end;
}

main section>:nth-child(4) {
    background-color: var(--examples_color);
    grid-column-start: 1;
    grid-row-start: 5;
    justify-self: end;
    align-self: start;
}

main section>:nth-child(5) {
    background-color: var(--examples_color);
    grid-column-start: 2;
    grid-row-start: 5;
    justify-self: center;
    align-self: end;
}

main section>:nth-child(6) {
    background-color: var(--examples_color);
    grid-column-start: 2;
    grid-row-start: 6;
    justify-self: start;
    align-self: end;
}

main section>:nth-child(7) {
    background-color: var(--examples_color);
    grid-column-start: 1;
    grid-row-start: 8;
    justify-self: end;
    align-self: start;
}


/*-----------------------------------------------------------------------------------------ALL ELEMENTS MIXED----------------------------*/
main section:nth-child(1)>:nth-last-child(-n+2) {
    justify-self: end;
    transform: translate(calc(50% + 10px));
    align-self: end;
}

main section:nth-child(1)>:nth-child(8) {
    background-color: var(--projects_color);
    grid-column-start: 2;
    grid-row-start: 4;
}

main section:nth-child(1)>:nth-child(9) {
    background-color: var(--examples_color);
    background-size: cover;
    grid-column-start: 2;
    grid-row-start: 7;
}

/*-----------------------------------------------------------------------------------------PHOTO----------------------------*/
main section {
    grid-area: photo;
    background: var(--photo_bg);
    background-size: cover;
    background-position: center;
    border-right: 1px solid #fff;
}


/*-----------------------------------------------------------------------------------------CODE---------------------------------*/
main section:nth-child(2) {
    direction: rtl;
    grid-area: code;
    background: var(--code_bg);
    background-position: center;
    border-left: 1px solid #fff;
}

main section:nth-child(1) div {
    border-radius: 10px 0 0 0;

}

main section:nth-child(2) div {
    border-radius: 0 10px 0 0;
    direction: ltr;
}

main section:nth-child(1) :nth-last-child(-n+2) {
    border-radius: 10px 10px 0 0;
}

/*-----------------------------------------------------------------------------------------BANDAS CODE & IMAGE---------------------------------*/
aside div {
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--text_link_color);
    width: 6vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside div:last-child {
    right: 0;
    left: unset;
}

aside div span {
    transform: rotate(270deg);
    color: rgba(255, 255, 255, 0.5);
    font-size: 3vw;
}

/*-----------------------------------------------------------------------------------------CODE ELELMENTS*/
footer {
    width: 260px;
    height: 20px;
    background-color: var(--text_link_color);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer span:nth-child(odd) {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: aquamarine;

}

footer span:nth-child(even) {}


/*------------------------------------------------------------------------------------------------------------- media query*/
@media only screen and (max-width: 1350px) {

    main section {
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 200px repeat(9, 1fr) 15px 20px;
    }

    main>section>div {
        margin: 5px;
    }

    main>section>:nth-child(1),
    main>section>:nth-child(2) {
        grid-column-start: 2;
        grid-row-start: 2;
        justify-self: start;
        align-self: center;
    }

    main>section>:nth-child(2) {
        grid-row-start: 3;
        justify-self: center;
    }

    main>section>:nth-child(3) {
        grid-row-start: 4;
        justify-self: end;
        align-self: center;
    }

    main>section>:nth-child(4),
    main>section>:nth-child(5) {
        grid-column-start: 2;
        grid-row-start: 6;
        justify-self: center;
        align-self: center;
    }

    main>section>:nth-child(5) {
        grid-row-start: 7;
        justify-self: start;
    }

    main>section:nth-child(1)>:nth-child(8) {
        grid-row-start: 5;
        align-self: center;
    }

    main>section>:nth-child(6) {
        justify-self: end;
        grid-row-start: 8;
        align-self: center;
    }

    main>section:nth-child(1)>:nth-child(9) {
        grid-row-start: 9;
        align-self: center;

    }


    main>section>:nth-child(7) {
        grid-column-start: 2;
        grid-row-start: 10;
        justify-self: center;
        align-self: center;
    }

    @media only screen and (max-width: 530px) {
      aside div {
            display: none;
        }

        main>section>div {
            width: 180px;
            font-size: 0.75rem;
        }

        main>section>div:after {
            font-size: 0.70rem;
        }
    }

}
