:root {
    --photo_bg: url('./assets/img/bg-photo.jpg');
    --code_bg: url('./assets/img/bg-code.jpg');
    --studies_color: #4569aa;
    --projects_color: #b91a47;
    --examples_color: #be843c;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

main {
    background-color: aquamarine;
    margin: 0 10px;
    width: 100%;
    max-width: 1366px;
    height: 100%;
    max-height: 768px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        "photo code";
}


/*-----------------------------------------------------------------------------------------PICTURE ANS LINKS---------------------------------*/
main>div {
    width: 180px;
    transform: translate(-50%);
    margin-top: 20px;
    height: 180px;
    background-color: blueviolet;
    position: fixed;
    left: 50%;

}

/*-----------------------------------------------------------------------------------------PHOTO AND CODE GRID---------------------------------*/
main section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: red;
}

/*-----------------------------------------------------------------------------------------ALL ELEMENTS IN PHOTO AND CODE---------------------------------*/
main section div {
    width: 160px;
    height: 30px;
    margin: 10px;
}

/*-----------------------------------------------------------------------------------------ALL items of photo and code---------------------------------*/
/*la variable bg-color m'ajuda amb la legibilitat*/
main>section>:nth-child(1) {
    background-color: var(--studies_color);
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: end;
    align-self: end;
}

main>section>:nth-child(2) {
    background-color: var(--studies_color);
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: start;
    align-self: start;
}

main>section>:nth-child(3) {
    background-color: var(--projects_color);
    grid-column-start: 2;
    grid-row-start: 3;
    justify-self: start;
    align-self: end;
}

main>section>:nth-child(4) {
    background-color: var(--examples_color);
    grid-column-start: 1;
    grid-row-start: 5;
    justify-self: end;
    align-self: start;
}

main>section>:nth-child(5) {
    background-color: var(--examples_color);
    grid-column-start: 2;
    grid-row-start: 5;
    justify-self: center;
    align-self: end;
}

main>section>:nth-child(6) {
    background-color: var(--examples_color);
    grid-column-start: 2;
    grid-row-start: 6;
    justify-self: start;
    align-self: end;
}

main>section>:nth-child(7) {
    background-color: var(--examples_color);
    grid-column-start: 1;
    grid-row-start: 8;
    justify-self: end;
    align-self: start;
}

@media only screen and (max-width: 1075px) {
    body {
        background-color: darkgrey;
    }

    main section {
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 200px repeat(9, 1fr);
    }

    main section div {
        margin: 5px;
    }

    main>section>:nth-child(1),
    main>section>:nth-child(2) {
        grid-column-start: 2;
        grid-row-start: 2;
        justify-self: start;
        align-self: center;
    }

    main>section>:nth-child(2) {
        grid-row-start: 3;
        justify-self: center;
    }

    main>section>:nth-child(3) {
        grid-row-start: 4;
        justify-self: end;
        align-self: center;
    }

    main>section>:nth-child(4),
    main>section>:nth-child(5) {
        grid-column-start: 2;
        grid-row-start: 6;
        justify-self: center;
        align-self: center;
    }

    main>section>:nth-child(5) {
        grid-row-start: 7;
        justify-self: start;
    }

    body>main>section:nth-child(1)>:nth-child(8) {
        grid-row-start: 5;
        align-self: center;
    }

    main>section>:nth-child(6) {
        justify-self: end;
        grid-row-start: 8;
        align-self: center;
    }

    body>main>section:nth-child(1)>:nth-child(9) {
        grid-row-start: 9;
        align-self: center;

    }


    main>section>:nth-child(7) {
        grid-column-start: 2;
        grid-row-start: 10;
        justify-self: center;
        align-self: center;
    }
}

/*-----------------------------------------------------------------------------------------ALL ELEMENTS MIXED----------------------------*/

main>section:nth-child(1)>:nth-child(8) {
    background-color: var(--projects_color);
    grid-column-start: 2;
    grid-row-start: 4;
    justify-self: end;
    transform: translate(calc(50% + 10px));
    align-self: end;
}

main>section:nth-child(1)>:nth-child(9) {
    background-color: var(--examples_color);
    grid-column-start: 2;
    grid-row-start: 7;
    justify-self: end;
    transform: translate(calc(50% + 10px));
    align-self: end;
}

/*-----------------------------------------------------------------------------------------PHOTO----------------------------*/
main section:nth-child(1) {
    grid-area: photo;
    background: var(--photo_bg);
    background-position: center;
    border-right: 1px solid #fff;

}

/*------------------------------------------------------------------------------PHOTO ELELMENTS*/


/*-----------------------------------------------------------------------------------------CODE---------------------------------*/
main section:nth-child(2) {
    direction: rtl;
    grid-area: code;
    background: var(--code_bg);
    background-position: center;
    border-left: 1px solid #fff;
}

main section:nth-child(2)>div {
    direction: ltr;
}

/*-----------------------------------------------------------------------------------------CODE ELELMENTS*/